<table align="center" style="background-color: #1e1820; color: #ffffff; width: 100%" role="presentation">
    <tr>
        <td align="left" style="background-color: #1a1a1a">
            <table style="width: 250px; margin: 2em auto">
                <tr>
                    <td align="right">
                        <a href="https://facebook.com/flexbills" style="color:
                            #467fcf; text-decoration: none">
                            <img src="http://cdn.mcauto-images-production.sendgrid.net/99ce76adda6e5062/28deaadc-9671-47c0-a797-636670a621ca/60x60.png"
                                alt style="display: block; border: 0;
                                height: 30px;
                                outline: none;
                                text-decoration: none;
                                -ms-interpolation-mode: bicubic;" />
                        </a>
                    </td>

                    <td align="center">
                        <a href="https://twitter.com/getflex_hq" style="color:
                            #467fcf; text-decoration: none">
                            <img src="http://cdn.mcauto-images-production.sendgrid.net/99ce76adda6e5062/e8b9aa47-6300-400e-9791-91176db32eb0/72x60.png"
                                alt style="display: block;
                                border: 0;
                                outline: none;
                                text-decoration: none;
                                width:36px;
                                -ms-interpolation-mode: bicubic;" />
                        </a>
                    </td>

                    <td align="left">
                        <a href="https://www.instagram.com/flex_hq/" style="color: #467fcf; text-decoration: none">
                            <img src="http://cdn.mcauto-images-production.sendgrid.net/99ce76adda6e5062/a86c8716-160d-4f9c-9632-8bce5787b363/60x60.png"
                                alt style="display: block;
                                border: 0;
                                outline: none;
                                text-decoration: none;
                                height: 30px;
                                -ms-interpolation-mode: bicubic;" height="30" />
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" style="background-color: #1a1a1a">
            <table cellpadding="0" cellspacing="0" align="left" role="presentation" style="width: 100%;
            border-collapse: separate;
            background-color: #1e1820;
            border-bottom: 2px solid #31313178;
            padding: 0 0 3em 0;">
            <tr style="width: 369px; display: block; margin: 0 auto">
                <td style="display: inline-block" align="right">
                    <a href="https://itunes.apple.com/us/app/avance-financial/id1458274896?ls=1&mt=8"
                        style="color: #467fcf; text-decoration: none">
                        <img src="http://cdn.mcauto-images-production.sendgrid.net/99ce76adda6e5062/2a147403-bb29-4b33-8edb-3e41898ad491/308x100.png"
                            alt style="display: block;
                            height: 50px;
                            border: 0;
                            outline: none;
                            text-decoration: none;
                            -ms-interpolation-mode: bicubic;" />
                    </a>
                </td>
                <td style="width: 2em; display: inline-block"></td>
                <td style="display: inline-block" align="left">
                    <a href="https://play.google.com/store/apps/details?id=com.avance.consumer&hl=en_US"
                        style="color: #467fcf; text-decoration: none">
                        <img src="http://cdn.mcauto-images-production.sendgrid.net/99ce76adda6e5062/3c65ec21-327b-4c29-b332-a34c4b815f54/340x100.png"
                            alt style="display: block;
                            height: 50px;
                            border: 0;
                            outline: none;
                            text-decoration: none;
                            -ms-interpolation-mode: bicubic;" />
                    </a>
                </td>
            </tr>
        </table>
        </td>
    </tr>
</table>
<table align="center" style="background-color: #1e1820; color: #ffffff; width: 100%" role="presentation">
    <tr style="border-collapse:collapse;">
        <td align="left">
            <table align="center" style="background-color: #1e1820;
                border-collapse: separate;
                padding-top: 30px;
                padding-bottom: 30px;
                color: #ffffff;
                width: 100%;" role="presentation">
                <tr>
                    <td align="center">
                        <span style="padding: 12px">ⓒ 2020, 245 Fifth Ave., New
                            York, NY, 10001</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
